
@media all and (min-width: 768px) and (max-width: 1280px) {
html { min-height:100%; }
body {
	width: 768px;
	margin: 0 auto;
	display: block;
}
.contention {
	height: 1165px;
	display: flex;
	justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

/*Header*/
.header {
	margin-top: 30px;
}
.nav-menu {
	width:  455px;
}
.nav-menu-notactive {
	margin-right: 1.5%;
}
/*Not only*/
.not-only {
	width: 94%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
.screen-content {
	width:95%;
	height: 1015px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.content {
	width: 70%;
	height: 322px;
	margin-top: 0;
	margin-bottom: 0;
}
.subheading {
	width: 100%;
}
.only-button-primary {
	width: 43%;
	height: 52px;
	margin-left: 27.5%;
}
.start-screen-puppy {
	width:100%;
	height: 593px;
}
.start-screen-puppy img {
	width: 83%;
	height: 100%;
	margin-top:0;
	margin-left: 18%;
}

/*About*/
.about {
	height: 1048px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.about-content {
	width: 100%;
	height: 890px;
	margin-top: 0;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
}
.about-pets {
	width: 39.5%;
	height: 408px;
	margin-bottom: 3%;
}
.about-text {
	width: 66.2%;
}

/* Our Friends */
.our-friends-content {
	margin-top: 10.3%;
}
.card-and-arrow {
	width: 100%;
	height: 435px;
}
.card-woody {
	display: none;
}
.button-arrow-right {
	margin-right: 1%;
}
.card-jennifer {
	margin-right: 1%;
}

/*Help*/
.help {
	height: 779px;
}
.help-content {
	height: 599px;
}
.help-list {
	height: 449px;
	flex-direction: row;
	flex-flow:  row wrap;
}
.pet-food {
	margin-left: 6.1%;
	margin-right: 10.3%;
}
.transportation { margin-right: 12%; }
.toys { margin-right: 8%; }
.bowls-and-cups { 
	margin-top: 9%;
	margin-right: 10%; 
}
.shampoos {
	margin-top: 9%;
	margin-right: 8%; 
}
.vitamins {
	margin-top: 9%;
	margin-right: 5.6%; 
}
.medicines {
	margin-top: 8.5%;
	margin-left: 5%;
}
.collars-leashes {
	margin-top: 8.5%;
	margin-left: 2%;
}
.sleeping-area {
	margin-top: 8.5%;
	margin-right: 0%; 
}
/* Donation */
.donation {
	height: 783px;
	flex-direction: column;
}
.donation-content {
	height: 80%;
	flex-direction: column-reverse;
	align-items: center;
}
.donation-dog {
	margin-bottom: 3.5%;
}

/* Footer */
footer {
	height: 639px;
}
.footer-content {
	height: 96%;
	flex-flow: row wrap;
	justify-content: space-around;
}
.footer-contacts {
	width: 40%;
	height: 250px;
	margin-bottom: 5.4%;
	margin-left: 2%;
}
.footer-contacts-title { width: 100%; }
.footer-main a {
	margin-top: 2%;
}
.footer-phone a {
	margin-bottom: 5%;
}
.footer-locations { 
	width: 45%;
	height: 250px;
	margin-bottom: 6%;
	margin-left: 1%;
}
.footer-main { margin-top:2%; }
.footer-locations-title { margin-top:1%; }
.footer-london { width: 270px; margin-bottom: 3.8%;}
.footer-img { margin-top: 0%; }
